.welcomeMessages {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  color: #d28a8a;
  text-align: center;
}
.welcomeHeader {
  font-size: 40px;
  margin: 0;
}
.welcomeParagraph {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
  opacity: 0.9;
}
